.about-us-content-wrapper { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #f2eeec;
    border-bottom: 4px solid #f1b179;
}

.hello-container,
.about-us-container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.hello-container h1,
.about-us-container h1 { 
    font-family: "Rouge Script", cursive;
    font-size: 11rem;
    color: #f1b179;
    text-shadow: 1px 1px 2px black;
    z-index: 4;
    position: relative;
}

.hello-textbox,
.about-us-textbox { 
    background-color: white;
    font-size: 1.8rem;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    padding: 2rem;
    border-radius: 1rem;
}

.hello-textbox p,
.about-us-textbox p { 
    max-width: 60rem;
}

 

.hello-container img { 
    width: 35rem;
    border-radius: 1rem;
}


.about-us-photo-container { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.about-us-photo-container img { 
    width: 25rem;
    border-radius: 1rem;
}

.explore-services-container { 
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    font-family: "Montserrat", sans-serif;
}

.explore-services-container a { 
    color: #f1b179;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.explore-services-container a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #f1b179;
    transition: width 0.3s ease-in-out;
}

.explore-services-container a:hover::after {
    width: 100%;
}
