.about-us-content-wrapper { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #f2eeec;
}

.about-us-container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.about-us-container h1 { 
    font-family: "Rouge Script", cursive;
    font-size: 11rem;
    color: #f1b179;
    text-shadow: 1px 1px 2px black;
    z-index: 4;
    position: relative;
}

.about-us-textbox { 
    background-color: white;
    font-size: 1.8rem;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    padding: 2rem;
    border-radius: 1rem;
}

.about-us-textbox p { 
    max-width: 50rem;
}

.about-us-container img { 
    width: 35rem;
    border-radius: 1rem;
}