.footer-content-wrapper { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    font-family: "Rouge Script", cursive;
    background-color: #f2eeec;
}

.footer-content-wrapper h1 { 
    font-size: 5rem;
}

.keso-logo-footer { 
    width: 15em;
    border-radius: 1em;
}

.email-phone-container { 
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    gap: 2em;
    padding-top: 2em;
}

.email-phone-container p { 
    font-size: 2rem;
}

.footer-social-links-container { 
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-social-links-container img { 
    width: 6em;
}

.footer-social-links-container img:nth-child(2) { 
    width: 4.5em;
}

.footer-social-links-container svg { 
    width: 6em;
    height: 2.5em;
}


@media (max-width: 1000px) { 
    .footer-content-wrapper h1 { 
        font-size: 4rem;
        text-align: center;
    }

    .email-phone-container p { 
        font-size: 1.5rem;
    }
}


@media (max-width: 570px) { 
    .email-phone-container { 
        flex-direction: column;
        gap: 0;
    }
}


@media (max-width: 500px) { 
    .footer-content-wrapper h1 { 
        font-size: 3rem;       
    }  
    
    .email-phone-container p { 
        font-size: 1.2rem;
    }

    .footer-social-links-container img { 
        width: 4em;
    }
    
    .footer-social-links-container img:nth-child(2) { 
        width: 3.3em;
    }
    
    .footer-social-links-container svg { 
        width: 4em;
        height: 3.5em;
    }

    .keso-logo-footer { 
        width: 10em;
    }

    
    
}

@media (max-width: 400px) { 
    .footer-content-wrapper h1 { 
        font-size: 2.3rem;       
    } 
    
    .email-phone-container p { 
        font-size: 1rem;
    }
}