.getting-started-content-wrapper { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}



.need-help-getting-started-text { 
    font-family: "Rouge Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 6rem;
}

.a-tag-styles { 
    text-decoration: none;
    // color: inherit;
}


.getting-started-links-container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.container-for-headers { 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container-for-headers h1 { 
    font-size: 2.2rem;
}

.about-us-button { 
    font-size: 2rem;
    padding: 0.3em;
    border-radius: 0.5em;
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background-color: rgb(247, 190, 84);;
}


.about-us-text-styles { 
    border-bottom: 10px solid rgb(247, 190, 84);
    font-size: 2.2rem;
}



@media (max-width: 900px) { 
    .need-help-getting-started-text { 
        font-size: 5rem;
    }

    .container-for-headers h1,
    .about-us-text-styles { 
        font-size: 1.6rem;
    }
}

@media (max-width: 475px) { 
    .need-help-getting-started-text { 
        font-size: 4rem;
    }

    .container-for-headers h1,
    .about-us-text-styles { 
        font-size: 1.3rem;
    }
}

@media (max-width: 380px) { 
    .need-help-getting-started-text { 
        font-size: 3.2rem;
    }

    .container-for-headers h1,
    .about-us-text-styles { 
        font-size: 1.3rem;
    }
}

