// @import url('https://fonts.googleapis.com/css2?family=Italiana&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&family=Rouge+Script&display=swap');

* { 
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

.description-and-photo-content-wrapper h1 { 
    font-family: "Rouge Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 6rem;
    // padding: 3em;
}

// .main-photo-content-wrapper { 
//     display: flex;
// }

// .main-photo-homepage { 
//     width: 50vw;
//     // height: 100vh;
// }

// .description-and-photo-content-wrapper { 
//     display: flex;
// }

// .description-text-container { 
//     display: flex;
//     justify-content: center;
//     flex-direction: column;
//     padding: 3em;
//     text-align: center;
//     width: 100vw;
//     // max-width: 55em;
//     background-color: orange;
//     color: white;
//     font-family: "Italiana", sans-serif;
//     font-weight: 400;

// }

// .description-photo-home { 
//     width: 50vw;
//     height: 75vh;
// }