@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&family=Rouge+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');


.photo-links-container { 
    display: flex;
    justify-content: center;
    padding: 1em;
    gap: 9em;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.photo-container { 
    display: flex;
    flex-direction: column;
    // gap: 1em;
}




.img1-styles { 
    width: 40em;
    border-radius: 1em;
    position: relative;
    right: 4em;
}

.img2-styles { 
    position: relative;
    left: 4em;
    bottom: 4em;
    width: 40em;
    border-radius: 1em;
    z-index: 1000;
    
}

.links-container { 
    display: flex;
    justify-content: center;
    // justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    gap: 4em;
}

// .links-container h1 { 
//     font-size: 3rem;
// }

.welcome-text { 
    font-family: "Rouge Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 14rem;
    color: #f1b179;
    text-shadow: 1px 1px 2px black
}

.link-style { 
    font-size: 2.2rem;
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    // border-bottom: 12px solid #d8d4d2;
    border-bottom: 12px solid #f1b179;
    letter-spacing: 3px;
}


// media queries 


@media (max-width: 1380px) { 
    .photo-links-container { 
        gap: 6em;
        margin-top: 0;
    }

    .welcome-text { 
        font-size: 12rem;
    }
}


@media (max-width: 1250px) { 
    .img1-styles, 
    .img2-styles { 
        width: 35rem;
    }

    .link-style { 
        font-size: 1.9rem;
    }
}

@media (max-width: 1170px) { 
    .welcome-text { 
        font-size: 10rem;
    } 


    .img1-styles, 
    .img2-styles { 
        width: 30rem;
    } 

    .links-container { 
        gap: 3em; 
    }
}

@media (max-width: 1015px) { 
    .img1-styles, 
    .img2-styles { 
        width: 25rem;
    } 

    .img1-styles { 
        position: relative;
        right: 2em;
    }

    .link-style { 
        font-size: 1.5rem;
    }

    .links-container { 
        gap: 1em;
    }

    .photo-links-container { 
        gap: 5em;
    }
}


@media (max-width: 900px) { 
    .photo-links-container { 
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;
    }

    .img1-styles, 
    .img2-styles { 
        width: 35rem;
    } 
}

@media (max-width: 700px) { 
    .img1-styles, 
    .img2-styles { 
        width: 32rem;
    } 
}

@media (max-width: 640px) { 
    .img2-styles { 
        position: relative;
        left: 2em;
    }

    .img1-styles, 
    .img2-styles { 
        width: 29rem;
    } 
}

@media (max-width: 530px) { 
    .img1-styles, 
    .img2-styles { 
        width: 25rem;
    } 

    .welcome-text { 
        font-size: 8rem;
    }

    .link-style { 
        font-size: 1.2rem;
    }
}


@media (max-width: 470px) { 
    .img1-styles, 
    .img2-styles { 
        width: 21rem;
    } 
}

@media (max-width: 400px) { 
    .img1-styles, 
    .img2-styles { 
        width: 19rem;
    } 

    .img1-styles { 
        right: 1em;
    }
}

@media (max-width: 360px) { 
    // .img1-styles, 
    // .img2-styles { 
    //     width: 17rem;
    // } 
    
    .welcome-text { 
        font-size: 6rem;
    }

    .img2-styles { 
        left: 1em;
    }
}


@media (max-width: 340px) { 
    .img1-styles, 
    .img2-styles { 
        width: 17.5rem;
    } 
}