
.photo-links-container { 
    display: flex;
    justify-content: center;
    padding: 1em;
}

.photo-container { 
    display: flex;
    flex-direction: column;
    // gap: 1em;
}


// .img1-styles,
// .img2-styles { 
//     width: 35em;
//     border-radius: 1em;
// }

.img1-styles { 
    width: 50em;
    border-radius: 1em;
}

.img2-styles { 
    position: relative;
    left: 10em;
    bottom: 6em;
    width: 40em;
    border-radius: 1em;
    z-index: 1000;
    
}