.reviews-content-wrapper { 
    // display: flex;
    // justify-content: center;
    // align-items: center;
    padding: 3em;
    background-color: #f2eeec;
    border-bottom: 4px solid #f1b179;
    margin-bottom: 2rem;
}

.reviews-content-wrapper h1 { 
    font-family: "Rouge Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 6rem;
    color: black;
    text-shadow: 2px 2px 4px #f1b179;
    text-align: center;
    margin-bottom: 2rem;
}

.carousel-review-item { 
    display: flex;
    
    justify-content: center;
    text-align: center;
    
}

.carousel-review-item p { 
    max-width: 40em;
    font-size: 1.3rem;
    background-color: #fffcf8;
    border: 4px solid #f1b179;;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


    border-radius: 1em;
    padding: 2em;
}

.carousel-review-item div { 
    padding-top: 0.3em;
}



.carousel-indicators button { 
    background-color: #f1b179 !important;
    margin-bottom: 1rem;
}

.carousel-control-next-icon, .carousel-control-prev-icon { 
   display: none !important;
}


@media (max-width: 500px) { 
    .carousel-review-item p { 
        font-size: 1.1rem;
    }
}



// .carousel-control-prev-icon { 
//     position: relative;
//     right: 6em;
// }

// .carousel-indicators { 
//     position: absolute;
//     top: 10em;
// }