.services-content-wrapper { 
    background-color: #f2eeec;
    padding: 2rem;
    
}

.services-header-container h1 { 
    font-family: "Rouge Script", cursive;
    font-size: 7rem;
    color: #f1b179;
    text-shadow: 1px 1px 2px black;
}

.star-img-1 { 
    position: relative;
    bottom: 10rem;
    right: 1rem;
}

.star-img-2 { 
    position: relative;
    bottom: 2.5rem;
    left: 10rem;
}